<footer class="footer">
  <small>
    Ruby on Rails starter application by
    <a href="https://github.com/jacktreg">Jack Tregurtha</a>. Based on the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_url %></li>
      <li><%= link_to "Help", help_url %></li>
      <li><%= link_to "Contact", contact_url %></li>
    </ul>
  </nav>
</footer>
